doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Pokemon Collection
        a(href="/update-cobj") Add to this table
        table
            thead
                tr
                    th Pokemon Name
                    th Pokemon Type
                    th Pokemon HP
            tbody
                each poke in data
                    tr
                        td #{poke.properties.pokemon_name}
                        td #{poke.properties.pokemon_type}
                        td #{poke.properties.pokemon_hp}
